.circle-icon {
  border-radius: 50%;
  background-color: var(--primary-color);
  height: 1.5rem;
  width: 1.5rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
}
