.filmCard {
  border-radius: 0.75rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
  background: #20283ecc;
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: column;
}

.filmCardImageWrapper {
  position: relative;
}

.filmCardImage {
  border-radius: 0.5rem;
}

.filmCardTitle {
  margin-top: 1rem;
  font-weight: 600;
  color: var(--grey-50);
  margin-left: 0.5rem;
  letter-spacing: 0.02rem;
}

.favorRowWrapper {
  margin-top: 1rem;
}

.stylesForBadge {
  position: absolute;
}
