.favor-row,
.unfavor-row {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  margin-left: 0.5rem;
  cursor: pointer;
}

.favor-row {
  color: var(--in-favor-color);
}

.unfavor-row {
  color: var(--primary-color);
}

.favor-row__text {
  margin-left: 0.5rem;
  letter-spacing: 0.02rem;
}
