.favorRow,
.unfavorRow {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  margin-left: 0.5rem;
  cursor: pointer;
}

.favorRow {
  color: var(--in-favor-color);
}

.unfavorRow {
  color: var(--primary-color);
}

.favorRowText {
  margin-left: 0.5rem;
  letter-spacing: 0.02rem;
}
