.navbarItem {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}

.navbarItemText {
  font-weight: 600;
  color: #a8aebf;
  font-size: 1rem;
}

.navbarItemTextActive {
  color: var(--white);
}

.navbarItemImage {
  height: 1.5rem;
}
