.ratingBadge {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.25rem 0.5rem;
  background: #000000a6;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--golden-orange);
  border-radius: 0.5rem;
  column-gap: 0.25rem;
}

.ratingBadgeIcon {
  width: 1rem;
  height: 1rem;
}
